@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;

}

* {
    margin: 0;
    padding: 0;
    min-width: 280px;
    max-width: 800px;
    margin: auto;
}

:root {
    --cor0: #eff6fc; /* Azul claro para o fundo */
    --cor1: #aedbf0; /* Azul claro para destaque */
    --cor2: #59a5d8; /* Azul médio para gradientes */
    --cor3: #297cbf; /* Azul escuro para destaque */
    --cor4: #185c8c; /* Azul escuro para textos */
    --cor5: #0d3e5f; /* Azul marinho para elementos escuros */

    --font-padrão: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android' cursive;
}

body {
    background-color: var(--cor0);
    font-family: var(--font-padrão);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

header {
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor2));
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: var(--cor1);
    font-family: var(--font-destaque);
    padding-bottom: 10px;
    font-size: 3em;
}

header p {
    color: var(--cor1);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: var(--cor1);
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: underline;
    transition: 0.3s;
}

main {
    background-color: var(--cor0);
    padding: 20px;
}

main h1 {
    color: var(--cor3);
    font-family: var(--font-android);
}

main p {
    padding: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1.1em;
}

main h2 {
    font-family: var(--font-android);
    background-image: linear-gradient(to right, var(--cor5), var(--cor0));
    color: var(--cor1);
    text-indent: 5px;
    border-radius: 5px;
}

img {
    width: 100%;
}

.peq {
    display: block;
    max-width: 350px;
    margin: auto;
}

main strong {
    color: var(--cor3);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor2);
}

main a:hover {
    text-decoration: underline;
    padding: 2px 6px;
    font-size: larger;
}

main a::after {
    content: ' \1F517';
}

aside {
    background-color: var(--cor3);
    padding: 10px;
    border-radius: 15px;
    color: var(--cor0);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

aside strong {
    color: var(--cor0);
}

aside ul {
    text-indent: 30px;
    list-style-position: inside;
    columns: 2;
    line-height: 25px;
    margin: auto;
    text-decoration: none;
    list-style-type: '\2714\00a0';
}

aside li :hover {
    text-decoration: underline;
    font-size: large;
}

aside h3 {
    background-image: linear-gradient(to right, var(--cor5), var(--cor2));
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    margin: -10px -10px 0px -10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}

div.video {
    background-color: var(--cor5);
    padding-bottom: 59%;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
}

div.video iframe {
    position: absolute;
    top: 5%;
    left: 2.6%;
    bottom: 5%;
    width: 94.5%;
    height: 90%;
}

footer {
    background-color: var(--cor5);
    color: var(--cor0);
    padding: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--cor0);
}

footer a:hover {
    font-size: large;
}
